[Desktop Entry]
Encoding=UTF-8
Name=XMonad-Log-Plasmoid
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Marius Rejdak
X-KDE-PluginInfo-Email=mariuswol@gmail.com
X-KDE-PluginInfo-Name=xmonad-log-plasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-EnabledByDefault=true